body {
  margin: 0;
  margin-bottom: 5em;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@media (max-width: 40rem) {
  body {
    grid-template-columns: 0fr auto 0fr;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.userHeader, .loginLink {
  justify-self: end;
  align-self: center;
}

.footerInfo {
  margin-top: 3em;
  display: grid;
  justify-items: center;
}

a {
  color: rgb(68, 68, 183);
}

a.userSummary {
  color: inherit;
  text-decoration: none;
}

img.mapThumbnail {
  max-width: 100%;
}

.mapThumbnail.smallThumbnail {
  max-width: 10em;
}

.mapTiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
}

.mapTile {
  justify-self: center;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

.mapTileData {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

.mapAuthor {
  display: flex;
  flex-direction: column;
  align-items: end;
}
