.uploadTag.tagList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#uploadButton {
    margin: 1em;
    padding: 1em;
}

#selectedTagsMenu {
    display: flex;
}

#selectedTagList {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.7em;
    column-gap: 0.5em;
}
