.nadeoString .textStretch {
    display: inline-block;
    transform: scale(1.5, 1);
    margin: 0em 0.1em;
}

.nadeoString .textShrink {
    display: inline-block;
    transform: scale(0.8, 1);
    margin: 0em -0.05em;
}

.nadeoString .textUppercase {
    text-transform: uppercase;
}

.nadeoString .textShadow {
    text-shadow: 1px 1px black;
}
