
#tagSelectHeader {
    display: flex;
}

#selectedTagsContainer {
    flex-grow: 1;
    display: flex;
}

#selectedTagList {
    padding-left: 0.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagList {
    column-gap: 0.3em;
    row-gap: 0.8em;
    display: flex;
}

.tagList.tagSelectGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.tagSelectGrid.fullSelection .tagName {
    color: grey;
    background-color: lightgrey;
}

.tagName {
    border-radius: 5px;
    padding: 0.25em;
}

.tagName.mapStyle {
    background-color: rgb(255, 199, 86);
}

.tagName.definingSurface {
    background-color: rgb(158, 229, 255);
}

.tagName.mapFeature {
    background-color: rgb(255, 186, 186);
}

.tagName.drivingTechnique {
    background-color: rgb(207, 207, 207);
}

.tagName.notStadium {
    background-color: rgb(255, 241, 48);
}

.tagName.mapMeta {
    background-color: rgb(113, 175, 255);
}
