
#tagSelectHeader {
    display: flex;
    min-height: 2em;
}

#selectedTagsContainer {
    flex-grow: 1;
    display: flex;
}

#selectedTagList {
    padding-left: 0.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagList {
    display: flex;
    column-gap: 0.3em;
    row-gap: 0.6em;
}

.tagList.tagSelectGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

a.tagBadge {
    color: inherit;
    text-decoration: none;
}

.tagBadge:has(.tagCheckbox.tagCheckboxSelected) .tagName {
    color: rgb(65, 64, 64);
    background-color: lightgrey;
    border: 1px solid rgb(62, 62, 62);
}

.tagSelectGrid.fullSelection .tagName {
    color: grey;
    background-color: rgb(240, 240, 240);
}

.rootName {
    font-size: small;
    color: rgba(0, 0, 0, 0.5);
}

.tagName {
    border-radius: 5px;
    padding: 0.25em;
    cursor: pointer;
    white-space: nowrap;
}

.tagName.Style {
    background-color: rgb(255, 195, 128);
}

.tagName.Surface {
    background-color: rgb(255, 113, 47);
}

.tagName.Feature {
    background-color: rgb(153, 230, 255);
}

.tagName.OriginalCar {
    background-color: rgb(253, 236, 0);
}

.tagName.Meta {
    background-color: rgb(255, 194, 242);
}
