.mapHeader {
  display: grid;
  grid-auto-flow: column;
}

.mapAuthor, .manageMap {
  align-self: center;
  justify-self: end;
}

.mapDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 1em;
}
