{% extends "layout.html.tera" %}
{% import "macros.tera" as macros %}

{% block tabTitle -%}
  {{ super() }} - {{ error }}
{%- endblock tabTitle %}

{% block title -%}
  {{ super() }} - {{ error }}
{%- endblock title %}

{% block content %}
  {{ error_description }}
{% endblock content %}

