{% macro user_summary(user, class="") -%}
  <span class="userSummary {{ class }}">
    {%- if user.club_tag -%}
      <span class="nandoString">{{ user.club_tag }}</span>
    {%- endif -%}
    {{ user.display_name }}
  </span>
{%- endmacro user_summary %}

{% macro map_thumbnail(map, class="") %}
  <img class="mapThumbnail {{ class }}" src="{{ config.root }}api/v1/map/{{ map.id }}/thumbnail" />
{% endmacro map_thumbnail %}
